<%- include("partials/header"); -%>
    
    <h1>Witaj w Audio and Photo App!</h1>
    <p> <%= startingContent %> </p>
    <h4>Nie wierzysz? Zacznij już teraz!</h4>
    <br>

    <h2>Jak to działa?</h2>
    <ol>
        
            <h3>Nagrywanie dźwięku</h3>
            <ul>
                <li>Kliknij przycisk "Rozpocznij nagrywanie"</li>
                <li>Mów do mikrofonu i nagrywaj swój głos.</li>
                <li>Kiedy skończysz, kliknij przycisk "Zatrzymaj nagrywanie".</li>
                <li>Teraz możesz odsłuchać swojego nagrania, korzystając z przycisku odtwarzania.</li>
                <li>Dodatkowo możesz zmienić format pliku dźwiękowego i go pobrać jak i przyśpieszyć lub zwolnić swoje nagranie</li>
                
            </ul>
            <h3>Robienie zdjęć</h3>
            <ul>
                <li>Kliknij przycisk "Zrób zdjęcie"</li>
                <li>Po jego zrobieniu natychmiast je zobaczysz na ekranie</li>
                <li>Jeśli chcesz powtórzyć zdjęcie wybierz przycisk "Zrób nowe zdjęcie"</li>
                <li>Możesz również skorzystać z naszych efektów i zmieniać zdjęcie z kolorowego na czarno-białe aby następnie je pobrać na swoje urządzenie</li>
                <li>Dodatkowo możesz zobaczyć swoje zdjęcie w naszej galerii</li>
                
            </ul>
        
    </ol>

    
    <h3>Ważne informacje</h3>
    <ul>
        <li><strong>Przeglądarka:</strong> Upewnij się, że korzystasz z przeglądarki obsługującej nagrywanie audio i obsługującą działanie kamery.</li>
        <li><strong>Mikrofon:</strong> Sprawdź, czy masz podłączony mikrofon do swojego urządzenia.</li>
        <li><strong>Dźwięk:</strong> Upewnij się, że głośniki są włączone, aby móc odsłuchać nagranie.</li>
    </ul>
    <p></p>
    <br>
    <p>Zapraszamy do korzystania z naszej aplikacji i cieszenia się możliwością eksperymentowania ze swoim głosem oraz wyglądem!</p>

    

<%- include("partials/footer"); -%>
